<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >

<nav class="navbar">
  <a class="logo" href="">GymBros</a>
  <ul class="nav-links">
    <li><a routerLink="" class="links" >List Gym Centers</a></li>
    <li><a routerLink="add" class="links">Add Gym Centers</a></li>
    <li><button class="btn btn-danger" (click)="signOut()">Sign Out</button></li>
  </ul> 
</nav>
<router-outlet></router-outlet>
</ng-template>
</amplify-authenticator>