<div class="container-fluid">
    <div *ngIf="!submitted">
        <div class="container">
            <div class="form">
                <form class="form-fields"
                [formGroup]="myForm"
                required 
                (submit)="addCentre(myForm.value)"
                >
                <label for="name" class="label">Enter name for the Gym Centre</label>
                <input type="text" class="input" formControlName='name' placeholder="Enter Name of Center">
                <button class="button" value="submit">Submit</button>
            </form>
            </div>
        </div>
    </div>
    <div *ngIf="submitted">
        <div class="card">
            <h3 class="card-title">Your Response has been Submitted</h3>
            <button class="btn btn-primary" routerLink="" (click)="reset()">Return to Home</button>
        </div>
    </div>
    </div>

